/* product */

.product .container .product-container {
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    /* margin-top: 30px; */
    margin: 30px auto 0px auto;
}

.product .container .product-container .image {
    margin-right: 20px;
    border: 1px solid rgba(105, 95, 95, 0.4);
    border-radius: 10px;
}

.product .container .product-container .image img {
    border-radius: 10px;
    width: 350px;
}


.product .container .product-container .product-infor h4 .badge {
    background-color: white;
}

.product .container .product-container .product-star p {
    font-size: 18px;
    font-weight: 600;
}

.product .container .product-container .product-star p span {
    color: rgb(183, 96, 42);
}

.product .container .product-container .quantity p .desc,
.product .container .product-container .quantity p .plus {
    padding: 5px 15px;
    border: 1px solid black;
    cursor: pointer;
}

.product .container .product-container .quantity p .number {
    padding: 5px 20px;
    border: 1px solid black;
}

.product .container .product-container .price-button p .price {
    font-size: 18px;
    font-weight: 600;
}

.product .container .product-container .price-button p .number {
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.product .container .product-container .price-button button {
    padding: 5px 30px;
    border-radius: 20px;
    background-color: #F05D40;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #F05D40;
}

.product .container .product-container .price-button button:hover {
    background-color: #FFF5F1;
    color: #F05D40;
}

.product .container .product-container .price-button .buy-now {
    padding: 5px 30px;
    border-radius: 20px;
    background-color: #facec5;
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    width: 12.5rem;
    color: #F05D40;
    border: 1px solid #F05D40;
}

.product .container .product-container .price-button button:hover {
    background-color: #FFF5F1;
    color: #F05D40;
}

.product .container .products-list {
    display: flex;
    flex-wrap: wrap;
}

.product .container .products-list .product-list-item {
    margin-right: 10px;
    margin-top: 10px;
}

/* title-text */

.product .container .title-text{
    margin: 30px 0px;
}

/* ItemProduct */

.product-item {
    background-color: #efefef;
    border-radius: 10px;
    width: 260px;
    height: 500px;
    border: 10px;
    cursor: pointer;
}

.product-item .product-item-container {
    padding: 10px;
    margin: 0px auto;
    /* height: 450px; */
}

.product-item .product-item-container .product-class {
    border: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.product-item .product-item-container .product-class .image img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-item .product-item-container .product-content {
    margin-top: 10px;
    height: 150px;
}

.product-item .product-item-container .product-content p span {
    font-size: 11px;
    font-weight: 500;
}

.product-item .product-item-container .price p .price-font {
    font-size: 18px;
    font-weight: 600;
}

.product-item .product-item-container .price p .number {
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.product-item .product-item-container .button button {
    padding: 5px 30px;
    width: 100%;
    border-radius: 20px;
    background-color: #F05D40;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #F05D40;
}

.product-item .product-item-container .button button:hover {
    background-color: #FFF5F1;
    color: #F05D40;
}