
.local {
    position: relative;
}

.local .container .local-container {
    margin-left: -1.5625em;
}

.local .container .local-container .local-title {
    margin: 0px auto;
}

.local .container .local-container .local-title ul {
    display: flex;
    
    margin-top: 1.875em;
}

.local .container .local-container .local-title ul li {
    width: 10em;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(113, 181, 190);
    color: #fff;
}

.local .container .local-container .local-item ul {
    display: flex;
    margin-top: -1.063em;
}

.local .container .local-container .local-item ul li {
    width: 10em;
    border: 1px solid black;
    padding: 0.313em;
}

.local .container .local-container .local-item ul .button {

    text-align: center;
}

.local .container .local-container .local-item ul .button button{
    margin-top: 0.3125em;
    margin-bottom: 0.3125em;
    text-align: center;
    padding: 0.3125em 10px;
    border-radius: 0.3125em;
    font-weight: 600;
    background-color: #390CED;
    border: 1px solid #390CED;
    color: #fff;
    opacity: 0.9;
}

.local .container .local-container .local-item ul .button button:hover {
    opacity: 0.7;
}


/* products */

.show-local {
    position: absolute;
    background-color: rgba(117, 114, 114, 0.5);
    z-index: 99999;
    top: 20%;
    width: 100%;
    padding: 3.125em;
}

.show-local .container .products  {
    width: 43.75em;
    padding: 1.875em;
    border-radius: 1.25em;
    margin-left: 8.75em;
    border: 1px solid black;
    background-color: white;
    z-index: 999999;
}


.show-local .container .products .products-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625em;
}

.show-local .container .products .products-title ul {
    display: flex;
}

.show-local .container .products .products-title ul li {
    width: 10em;
    border: 1px solid black;
    text-align: center;
}

.show-local .container .products .products-item ul {
    display: flex;
}

.show-local .container .products .products-item ul li {
    width: 10em;
    border: 1px solid black;
    text-align: center;
    margin-top: -1.063em;
}

@media screen and (max-width: 900px) {
    .local .container .local-container .local-title ul li {
        width: 10em;
    }
    .local .container .local-container .local-title ul li span {
        font-size: 10px;
    }
    .local .container .local-container .local-item ul {
        width: 100%;
    }
    .local .container .local-container .local-item ul li {
        font-size: 6px;
        width: 15em;
    } 
    .local .container .local-container .local-item ul .button button { 
        font-size: 4px;
        padding: 0.3125em 4px;
    }
    .show-local {
        top: 13%
    }
    .show-local .container .products {
        margin: 0 0 0 -50px;
        width: 360px;
    }
    .show-local .container .products .products-title ul li {
        font-size: 12px;
        width: 100px;
    }
    .show-local .container .products .products-item ul li {
        font-size: 10px;
        margin-top: -16px;
        width: 100px;
    }
    .show-local .container .products .products-header h4 {
        font-size: 20px;
    }
}
