.header {
    position: relative;
    background-color: white;
    z-index: 999999;
}
.header .container .position{
    position: fixed;
    width: 85%;
    background-color: white;
    top: 0;
    z-index: 999999;

}

/* top-header */
.header .container .top-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid rgb(138, 56, 56);
}

.header .container .top-header .header-logo img {
    width: 200px;
    height: 70px;
}

.header .container .top-header .header-right {
    display: flex;
    margin: auto 0px;
}

.header .container .top-header .header-right .search {
    margin-right: 30px;
    /* padding: ; */
}

.header .container .top-header .header-right .search input {
    padding: 5px 10px;
    width: 200px;
    border-radius: 20px;
}

/* header-menu */


.header .container .header-menu {
    /* position: sticky;
    position: -webkit-sticky;
    width: 85%;
    background-color: white;
    top: 70px;
    z-index: 999999; */
    /* background-color: rgb(65, 50, 61); */
    border-bottom: 1px solid rgb(138, 56, 56);
    /* margin-top: -15px; */
}
.header .container .header-menu .header-list-menu ul {
    display: flex;
    padding: 10px 0px;
    margin: -3px 0px;
}

.header .container .header-menu .header-list-menu ul li a {
    margin-right: 20px;
    font-size: 18px;
    padding: 10px 5px;
    font-weight: 600;
    color: #333
}

.header .container .header-menu .header-list-menu ul li a:hover {
    /* padding: 10px 5px; */
    color:#fff;
    background-color: #6c2121;
    border-radius: 10px;
    animation: anima 0.5s ease 0.3s;
}
