.header {
    position: relative;
}

.header .container .position{
    position: fixed;
    width: 85%;
    background-color: white;
    top: 0;
    z-index: 999999;

}

/* top-header */
.header .container .top-header {
    display: flex;
    justify-content: space-between;
    height: 4.375em;
    width: 100%;
}

.header .container .top-header .header-logo img {
    width: 12.5em;
    height: 4.375em;
}

.header .container .top-header .header-right {
    display: flex;
    margin: auto 0px;
}

.header .container .top-header .header-right .search {
    margin-right: 1.875em;
}

.header .container .top-header .header-right .search input {
    padding: 0.3125em 0.625em;
    width: 12.5em;
    border-radius: 1.25em;
}

.header .container .top-header .header-right .cart {
    display: flex;
    margin: auto 0.625em;
}

.header .container .top-header .header-right .cart .cart-left {
    cursor: pointer;
}

.header .container .top-header .header-right .cart .cart-right span{
    font-size: 0.75em;
    font-weight: 550;
    padding: 1px 3px;
    background-color: rgb(236, 159, 150);
    border-radius: 0.625em;
    color: #4d050b;
}

/* header-menu */


.header .container .header-menu {
    border-bottom: 1px solid rgb(138, 56, 56);
    display: flex;
    justify-content: space-between;
    background-color: #111;
    opacity: 0.8;
    border-radius: 0.3125em;
    width: 100%;
}

.header .container .header-menu .header-list-menu ul {
    display: flex;
    padding: 0.625em 0px;
    margin: -3px 0px;
}

.header .container .header-menu .header-list-menu ul li a {
    margin-right: 1.25em;
    font-size: 1.125em;
    padding: 0.625em 0.3125em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    opacity: 0.85;
}

.header .container .header-menu .header-list-menu ul li a:hover {
    color:#F4A460;
    border-radius: 0.625em;
    animation: anima 0.5s ease 0.3s;
    box-sizing: padding-box;
    opacity: 1;
}

.header .container .header-menu .icon-menu {
    display: flex;
}

.header .container .header-menu .icon-menu .find {
    display: flex;
    margin: auto 0.625em;
}

.header .container .header-menu .icon-menu .find .search {
    margin-right: 0.625em;
}

.header .container .header-menu .icon-menu .find .search input {
    border-radius: 0.3125em;
    padding: 1px 0.3125em;
    background-color: #e7e7e7;
}

.header .container .header-menu .icon-menu .find span{ 
    font-size: 1.125em;
    cursor: pointer;
    color: #fff;
}

.header .container .header-menu .icon-menu .cart {
    display: flex;
    margin-left: 1.875em;
}

.header .container .header-menu .icon-menu .cart .cart-left span,
.header .container .header-menu .icon-menu .cart .cart-right span {
    color: #fff;
}

@media screen  and (max-width: 1024px) {
    .header .container .header-menu .header-list-menu ul li {
        font-size: 12px;
    }
    .header .container .header-menu .find .search {
        display: none;
    }


    .show-cart {
        /* top:0; */
    }
}