

.categories .container .cate-title {
    margin-top: 4%;
    /* margin-bottom: -1.25em; */
    border-bottom: 1px solid #333;
}
.categories .container .cate-products {
    display: flex;
    flex-wrap: wrap;
}

.categories .container .cate-products .item {
    /* margin-right: 0.1em; */
    /* margin-top: 1.25em; */
}

.categories .container .cate-products .item:nth-child(4) {
    margin-right: none;
}

@media screen and (max-width: 900px) {
    /* .categories .container .cate-products .item .product-item {
        margin-top: -130px;
    }
    .categories .container .cate-products .item .product-item:nth-child(1) {
        margin-top: 0px;
    } */
}