.slider {
    /* background-color: #a5a0a0; */
    padding: 10px;
}

.slider .container .slider-container {
    margin: 10px 0px;
    cursor: pointer;
}

.slider .container .slider-container #slider-height {
    height: 700px;
}

.slider .container .slider-container #slider-height img {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.slider .container .slider-container #slider-height .slider-title h5 {
    padding: 5px 10px;
    background-color: rgb(81, 78, 78);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    opacity: 0.8;
}