

/* list-category */

.list-category {
    background-color: #efefef;
    padding: 0.9375em 0px;
}

.list-category .container .category-content {
    display: flex;
    background-color: #fff;
    cursor: pointer;
    border-radius: 1.875em;
}

.list-category .container .category-content .item:hover {
    box-shadow: 1px 3px 4px 0px rgba(149, 149, 147, 0.51);
    color:#e3912e;
    animation: ease 0.3s;
}

.list-category .container .category-content .item {
    margin: 0px auto;
    height: 9.375em;
    width: 9.375em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 0.625em;

}

.list-category .container .category-content .item .img {
    margin: auto;
    width: 6.25em;
    height: 6.25em;
    border-radius: 6.25em;
    border: 1px solid rgba(149, 149, 147, 0.51);
}

.list-category .container .category-content .item .img:hover {
    box-shadow: 1px 3px 4px 0px rgba(149, 149, 147, 0.51);
    animation: ease 0.3s;

}

.list-category .container .category-content .item .img img {
    width: 4.375em;
    height: 4.375em;
    margin-top: 0.625em;
    border-radius: 6.25em;
}

.list-category .container .category-content .item .img img:hover {
    /* width: 80px;
    height: 80px; */
    /* animation: ease 0.3s; */
}




@media screen and (max-width: 900px) {
    .list-category .container .category-content .item {
        margin: 0px auto;
        height: 5em;
        width: 5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        border-radius: 0.625em
    }
    .list-category .container .category-content .item .img {
        margin: 5px auto;
        width: 3.5em;
        height: 3.5em;
        border-radius: 4em;
        border: 1px solid rgba(149, 149, 147, 0.51);
    }
    .list-category .container .category-content .item .img img {
        width: 3em;
        height:2.5em;
        margin-top: 0.6em;
        border-radius: 6.25em;
    }
    .list-category .container .category-content .item .title p {
        font-size: 10px;
    }
}